$bg: #010409;
$card: #0d0f13;
$error: #ff3c38;
$success: #40d162;
$white: #f4f7f5;
$gray: #34373b;

$text: $white;
$text-secondary: #c7c1c9;
$text-inverted: $bg;
$text-success: $success;
$text-error: $error;